<div class="sidebar">
    <div class="logo">
      <i class="bi bi-building-gear"></i>
      <span class="ms-2">Teuzin.com.br</span>
    </div>
    <div class="section-header">APPS</div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">
          <i class="bi bi-house"></i> Inicio
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link <%= currentPath === '/pedidos' ? 'active' : '' %>" href="/pedidos">
          <i class="bi bi-kanban"></i> Pedidos
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link <%= currentPath === '/clientes' ? 'active' : '' %>" href="/clientes">
          <i class="bi bi-people"></i> Clientes
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link <%= currentPath === '/produtos' ? 'active' : '' %>" href="/produtos">
          <i class="bi bi-box"></i> Estoque
          <span class="new-label ms-2">NOVO</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= currentPath === '/avaliacoes' ? 'active' : '' %>" href="/avaliacoes">
          <i class="bi bi-file-earmark-text"></i> Avaliações
          <span class="new-label ms-2">NOVO</span>
        </a>
    </ul>
  </div>
  