<%- include('partials/header.ejs') %>
<div class="app-container">
    <!-- Sidebar -->    
    <%- include('partials/sidebar.ejs') %>
    <div class="main-content">
        <!-- nav bar superior -->
        <%- include('partials/navbar.ejs') %> 
            <!-- conteudo da pagina de avaliações dos usuarios-->
            <div class="avaliacoes-container">
                <h1>Avaliações dos Usuários</h1>
                <%- include('partials/avaliacoes.ejs') %>
            </div>   
        </div>
    </div>
    <%- include('partials/footer.ejs') %>